<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    
    <!--上面的xsd最好和当前使用的Spring版本号一致,如果换了Spring版本,这个最好也跟着改-->


    <!-- spring和MyBatis整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描 mapper.xml文件(读取的是编译出来的classes目录下的module目录下的具体模块的mapping目录下的任意xml文件) -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
        <!--最新mybatis的配置文件位置-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
    </bean>

    <!--mapper配置,包含通用mapper-->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="pers.wzs.springmvc.mapper"/>
        <!--只有直接继承了MyBaseMapper的mapper接口才会被扫描-->
        <property name="markerInterface" value="pers.wzs.springmvc.mapper.WzsBaseMapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!--<property name="properties">-->
            <!--<value>-->
                <!--mappers=pers.wzs.springmvc.mapper.WzsBaseMapper-->
            <!--</value>-->
        <!--</property>-->
    </bean>
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
        <!--批量使用-->
        <!--<constructor-arg index="1" value="BATCH" />-->
    </bean>
</beans>
